.student-layout {
  display: flex;
  min-height: 100vh;        /* Whole page can grow */
  background: #F8FAFC;
}

.page-content {
  flex: 1;
  background: #F8FAFC;
  padding: 30px;
}

.page-content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
  background-color: #F8FAFC;
}