.search-container {
  width: 100%;
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  height: 46px;
  border: 1px solid #D1D5DB;
  border-radius: 12px;
  padding: 0 18px;
  font-size: 14px;
  outline: none;
}

.search-container input:focus {
  border-color: #6D28D9;
}